<% @league = League.find(params[:league_id].to_i) %>
<% @star_players = @team.get_star_team_players %>
<div class="col-sm-12">
	<% if @team.team_players.count > 0 %>
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__actions">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
					<tr>
						<th class="mdl-data-table__cell--non-numeric">
							<span>Pos</span>
						</th>
						<th class="mdl-data-table__cell--non-numeric">
							<span>Name</span>
						</th>
						<th class="mdl-data-table__cell--non-numeric">
							<span>List price</span>
						</th>
					</tr>
					<% @team.team_players.includes(:player).sort_by{ |tp| [tp.player.sort_val, tp.player.last_name, tp.player.first_name] }.each do |team_player| %>
						<tr id="<%= dom_id(team_player) %>">
							<td class="mdl-data-table__cell--non-numeric normal-text <%= 'highlight_warning' unless team_player.player.news.blank? %>">
								<%= team_player.display_squad_position(true) %> <% if team_player.is_star_team_player(@star_players) %><i class="material-icons small">star_border</i><% end %>
							</td>
							<td class="mdl-data-table__cell--non-numeric normal-text">
								<%= link_to team_player.full_name(true, 14), league_player_path(@league.id, team_player.player.id), class: "content-link" %>
							</td>
							<td class="mdl-data-table__cell--non-numeric normal-text">
								<% if team_player.transfer_minimum_bid %>
									<%= number_to_currency(team_player.transfer_minimum_bid, precision:0) %>
								<% else %>
									-
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	<% end %>
</div>
