<% league = League.find(params[:league_id]) %>
<%= form_for ([league, @team]) do |f| %>
  <% if @team.errors.any? %>
    <div class="mdl-card__supporting-text">
      Please address the <%= "error".pluralize(@team.errors.count) %> and try again:
    </div>
    <div>
      <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li>
            <i class="material-icons large error">face</i>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-card__actions">
    <div class="form-group">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :title, value: "#{Faker::Superhero.descriptor.titleize} #{Faker::Team.creature.titleize} FC", class: "mdl-textfield__input" %>
        <%= f.label :title, "Team name", class: "mdl-textfield__label" %>
      </div>
    </div>
    <%= f.hidden_field :cash_balance_cents, :value => 20000000 %>
    <%= f.fields_for :stadium do |ff| %>
      <div class="form-group">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= ff.text_field :name, value: "The #{Faker::Address.street_name.titleize} Stadium", class: "mdl-textfield__input" %>
          <%= ff.label :name, "Stadium name", class: "mdl-textfield__label" %>
        </div>
      </div>
      <%= ff.hidden_field :capacity, :value => 20000 %>
    <% end %>
    <div class="form-group">
      <%= f.submit class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
      <% if @team.id %>
        <%= link_to "Cancel", league_team_path(league, @team), class: "cancel_link_anchor" %>
      <% else %>
        <%= link_to "Cancel", league_path(league), class: "cancel_link_anchor" %>
      <% end %>
    </div>
  </div>
<% end %>
