<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr id="<%= dom_id(team) %>">
        <td><%= team.title %></td>
        <td>
          <%= link_to "View team players", league_team_team_players_path(team.league_id, team.id) %>
          <%= link_to 'Show', league_team_path(team.league_id, team) %>
          <%= link_to 'Edit', edit_league_team_path(team.league_id, team) %>
          <%= link_to 'Destroy', league_team_path(team.league_id, team), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_league_team_path %>
