<div class="row">
	<div class="col-sm-12">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= @team.title %></h2>
      </div>
			<div class="mdl-card__supporting-text">
				Budget: <%= number_to_currency(@team.cash_balance_cents, precision: 0) %>
				<br/>
				Stadium: <%= @team.stadium.name %> (<%= number_with_delimiter(@team.stadium.capacity, delimiter: ',') %>)
			</div>
			<div class="mdl-card__supporting-text">
				<ul class="horizontal-style">
					<li><%= link_to 'Edit team', edit_league_team_path(@team.league, @team), class: "mdl-button--primary" %></li>
				</ul>
			</div>
		</div>
		<%= render partial: "shared/team_players" %>
	</div>
</div>
