<div class="row">
	<div class="col-sm-12">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= @league.name %></h2>
      </div>
			<div class="mdl-card__actions">
				<% if @league.teams.count > 0 %>
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
						<tr>
							<th class="mdl-data-table__cell--non-numeric">
								<span>Team</span>
							</th>
							<th>
								<!-- For forced transfer listing indicator -->
							</th>
							<th>
								<span>Pld</span>
							</th>
							<th>
								<span>W</span>
							</th>
							<th>
								<span>D</span>
							</th>
							<th>
								<span>L</span>
							</th>
							<th>
								<span>GD</span>
							</th>
							<th>
								<span>Pts</span>
							</th>
						</tr>
						<% @league.get_standings.each do |standings_row| %>
							<tr>
								<td class="mdl-data-table__cell--non-numeric normal-text">
									<% if standings_row[:team_record].user != @current_user %>
										<%= link_to truncate(standings_row[:team_record].title, length: 18), display_league_team_path(@league, standings_row[:team_record]), class: "content-link" %>
									<% else %>
										<%= link_to truncate(standings_row[:team_record].title, length: 18), league_team_path(@league, standings_row[:team_record]), class: "content-link" %>
									<% end %>
								</td>
								<td class="normal-text">
									<% if standings_row[:team_record].is_in_debt %>
										<i class="material-icons large">money_off</i>
									<% end %>
								</td>
								<td class="normal-text"><%= standings_row[:games_played] %></td>
								<td class="normal-text"><%= standings_row[:games_won] %></td>
								<td class="normal-text"><%= standings_row[:games_drawn] %></td>
								<td class="normal-text"><%= standings_row[:games_lost] %></td>
								<td class="normal-text"><%= standings_row[:goal_difference] %></td>
								<td class="normal-text"><%= standings_row[:points] %></td>
							</tr>
						<% end %>
					</table>
				<% end %>

				<% current_season = Season.current.where(competition: @league.competition).first %>
				<% latest_league_season = LeagueSeason.joins(:season).where('league_seasons.league_id = ? AND league_seasons.season_id = ?', @league.id, current_season.id).order('seasons.starts_at DESC').first %>
				<% if @league.is_owned_by_this_user?(@current_user) %>
					<% number_of_active_teams_in_league = @league.teams.where(deleted_at: nil).count %>
					<% if number_of_active_teams_in_league > 0 && number_of_active_teams_in_league % 2 == 0 %>
						<% if !latest_league_season %>
							<div class="mdl-card__actions">
								<div class="form-group">
									<%= button_to "Start #{current_season.description}", {action: :create, controller: :league_seasons, league_id: @league.id, season_id: current_season.id}, :method => :post, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
								</div>
							</div>
						<% end %>
					<% else %>
						<% flash[:notice] = "You need an even number of teams to start a season." %>
					<% end %>
				<% end %>
			</div>
			<div class="mdl-card__supporting-text">
				<ul class="horizontal-style">
					<% if !@league.has_team_owned_by?(@current_user) && @league.teams.count < 20 && !latest_league_season %>
						<li><%= link_to 'Add Team', new_league_team_path(@league), class: "mdl-button--primary" %></li>
					<% elsif @league.has_team_owned_by?(@current_user) %>
						<li><%= link_to 'Games', league_games_path(@league), class: "mdl-button--primary" %></li>
						<li><%= link_to 'Players', league_players_path(@league), class: "mdl-button--primary" %></li>
						<li><%= link_to 'Transfers', league_transfers_path(@league), class: "mdl-button--primary" %></li>
						<li><%= link_to 'Contracts', league_contracts_path(@league), class: "mdl-button--primary" %></li>
					<% end %>
					<% if @league.is_owned_by_this_user?(@current_user) %>
						<li><%= link_to 'Invites', league_league_invites_path(@league), class: "mdl-button--primary" %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
