<tr>
  <td class="mdl-data-table__cell--non-numeric normal-text">
    <%= player_lineup.squad_position.short_name %>
  </td>
  <td class="mdl-data-table__cell--non-numeric normal-text">
    <%= player_lineup.player_game_week.player.full_name(true) %>
  </td>
  <td class="normal-text">
    <%= player_lineup.player_game_week.minutes_played.to_i %>  
  </td>
  <td class="normal-text detailed_stats">
    <%= player_lineup.player_game_week.goals.to_i %>
  </td>
  <td class="normal-text detailed_stats">
    <%= player_lineup.player_game_week.assists.to_i %>
  </td>
  <td class="normal-text detailed_stats">
    <%= player_lineup.player_game_week.goals_conceded.to_i %>
  </td>
  <td class="normal-text hide summary_stats">
    <%= player_lineup.get_attacking_contribution %>
  </td>
  <td class="normal-text hide summary_stats">
    <%= player_lineup.get_defensive_contribution %>
  </td>
</tr>
