<% player_game_weeks = player_lineups.joins(:player_game_week) %>
<tr class="bold-row">
  <td>
  </td>
  <td class="mdl-data-table__cell--non-numeric normal-text">
    Total
  </td>
  <td class="normal-text">
    <%= player_game_weeks.sum('player_game_weeks.minutes_played') %>
  </td>
  <td class="normal-text detailed_stats">
    <%= player_game_weeks.sum('player_game_weeks.goals') %>
  </td>
  <td class="normal-text detailed_stats">
    <%= player_game_weeks.sum('player_game_weeks.assists') %>
  </td>
  <td class="normal-text detailed_stats">
    <%= player_game_weeks.sum('player_game_weeks.goals_conceded') %>
  </td>
  <td class="normal-text hide summary_stats">
    <%= @game.get_total_attacking_contribution(player_lineups).round(1) %>
  </td>
  <td class="normal-text hide summary_stats">
    <%= @game.get_clean_sheet_minutes(player_lineups).round(1) %>
  </td>
</tr>
