<div class="mdl-card__actions">
  <div class="mdl-card__supporting-text">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">
      	<% if team.user == @current_user %>
      		<%= link_to truncate(team.title, length: 13), league_team_path(team.league, team), class: "content-link" %>
      	<% else %>
      		<%= link_to truncate(team.title, length: 13), display_league_team_path(team.league, team), class: "content-link" %>
      	<% end %>
      	&nbsp;
      	(<%= truncate(team.user.full_name, length: 14) %>)
      </h3>
    </div>
  </div>
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		<%= render partial: "shared/games/table_header" %>

	  <% team_lineups = team.player_lineups.joins(:player_game_week, :squad_position).where('game_week_id = ? AND squad_positions.short_name != ?', game_week.id, 'SUB') %>
    <% selected_team_players = game.get_team_lineup_including_yet_to_play(team) %>
	  <% selected_team_players.each do |game_player| %>
	    <% if game_player.player_game_weeks.joins(:player_lineups).where('player_game_weeks.game_week_id = ?', game_week.id).count == 0 %>

	    <% else %>
	      <% player_lineup = team_lineups.joins(:player_game_week).where('player_game_weeks.game_week_id = ? AND player_game_weeks.player_id = ?', game_week.id, game_player.id).first %>

	    <% end %>
	  <% end %>

    <% (1..11 - selected_team_players.count).each do %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric normal-text">

        </td>
        <td class="mdl-data-table__cell--non-numeric normal-text">

        </td>
        <td class="normal-text">
          -
        </td>
        <td class="normal-text detailed_stats">
          -
        </td>
        <td class="normal-text detailed_stats">
          -
        </td>
        <td class="normal-text detailed_stats">
          -
        </td>
        <td class="normal-text hide summary_stats">
          -
        </td>
        <td class="normal-text hide summary_stats">
          -
        </td>
      </tr>
    <% end %>

	  <%= render partial: "shared/games/summary_row", locals: {player_lineups: team_lineups} %>
	</table>
</div>
