<% league = League.find(params[:league_id]) %>
<% team = @current_user.teams.joins(:league).where('leagues.id = ?', league.id).first %>
<%= form_for([league, @contract]) do |f| %>
  <% if @contract.errors.any? %>
    <div class="mdl-card__supporting-text">
      Please address the <%= "error".pluralize(@contract.errors.count) %> and try again:
    </div>
    <div>
      <ul>
        <% @contract.errors.full_messages.each do |message| %>
          <li>
            <i class="material-icons error">face</i>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-card__actions">
    <% if !@contract.id %>
      <div class="form-group">
        <div class="selectdiv">
          <% @players_to_exlcude = Player.joins(team_players: [:team => :league]).where('leagues.id = ?', league.id) | Player.joins(:contracts).where('contracts.team_id = ?', team.id) %>
          <%= f.collection_select(:player_id, Player.where.not(id:@players_to_exlcude.map(&:id)).sort_by {|p| [p.last_name.downcase, p.first_name.downcase] }, :id, "#{:full_name}") %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :weekly_salary_cents, pattern: "^[1-9]{1}[0-9]*$", class: "mdl-textfield__input" %>
        <%= f.label "Weekly salary", class: "mdl-textfield__label" %>
        <span class="mdl-textfield__error">Invalid salary.</span>
      </div>
    </div>
    <%= f.hidden_field :starts_at, :value => Date.today %>
    <%= f.hidden_field :team_id, :value => team.id %>
    <div class="form-group">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.date_field :ends_at, value: 2.years.from_now.strftime('%Y-%m-%d'), class: "mdl-textfield__input" %>
        <%= f.label :ends_at, class: "mdl-textfield__label" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "Offer contract", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
      <%= link_to "Cancel", league_contracts_path(league), class: "cancel_link_anchor" %>
    </div>
  </div>
<% end %>
