<% season = Season.current.first %>
<%= form_for(@auction) do |f| %>
  <% if @auction.errors.any? %>
    <div class="mdl-card__supporting-text">
      Please address the <%= "error".pluralize(@auction.errors.count) %> and try again:
    </div>
    <div>
      <ul>
        <% @auction.errors.full_messages.each do |message| %>
          <li>
            <i class="material-icons large error">face</i>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-card__actions">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <tr>
        <td class="mdl-data-table__cell--non-numeric normal-text">
          Player
        </td>
        <td class="mdl-data-table__cell--non-numeric normal-text">
          <%= team_player.player.full_name %>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric normal-text">
          Value
        </td>
        <td class="mdl-data-table__cell--non-numeric normal-text">
          <%= team_player.player.player_value(season) %>
        </td>
      </tr>
    </table>
  </div>
  <div class="mdl-card__actions">
    <%= f.hidden_field :team_player_id, value: team_player.id %>
    <%= f.hidden_field :is_voluntary, value: true %>
    <%= f.hidden_field :is_active, value: true %>
    <div class="form-group">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :minimum_bid, pattern: "^[1-9]{1}[0-9]*$", class: "mdl-textfield__input" %>
        <%= f.label "Minimum bid", class: "mdl-textfield__label" %>
        <span class="mdl-textfield__error">Invalid amount.</span>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "Transfer list player", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
      <%= link_to "Cancel", :back, class: "cancel_link_anchor" %>
    </div>
  </div>
<% end %>
