<% if player.player_game_weeks.joins(game_week: :season).where("season_id = ?", Season.current.first.id).count > 0 %>
	<div class="demo-card-wide mdl-card mdl-shadow--2dp">
		<div class="mdl-card__actions">
			<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
				<tr>
					<th class="mdl-data-table__cell--non-numeric">
						<span>Season</span>
					</th>
					<th>
						<span>GW</span>
					</th>
					<th>
						<span>Mp</span>
					</th>
					<th>
						<span>Gs</span>
					</th>
					<th>
						<span>A</span>
					</th>
					<th>
						<span>Gc</span>
					</th>
				</tr>
				<% player.player_game_weeks.joins(game_week: :season).where("season_id = ?", Season.current.first.id).order("game_weeks.starts_at DESC").each do |pgw| %>
					<tr>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							<%= pgw.game_week.season.description %>
						</td>
						<td class="normal-text">
							<%= pgw.game_week.game_week_number %>
						</td>
						<td class="normal-text">
							<%= pgw.minutes_played.to_i %>
						</td>
						<td class="normal-text">
							<%= pgw.goals.to_i %>
						</td>
						<td class="normal-text">
							<%= pgw.assists.to_i %>
						</td>
						<td class="normal-text">
							<%= pgw.goals_conceded.to_i %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
<% end %>
