<div class="container">
	<span class="sub_header">First team</span>
	<ul class="first_team_players">
		<% squad_position_whtelist = @team.get_squad_position_whitelist %>
		<% @team.team_players.includes(:squad_position, :player).where(first_team: true).reorder('squad_positions.sort_order, players.last_name, players.first_name').each do |team_player| %>
			<li id="<%= dom_id(team_player) %>">
				(<%= team_player.squad_position.short_name %>)
				<%= link_to team_player.full_name, league_team_team_player_path(team_player.team.league, team_player.team, team_player) %> (<%= number_to_currency(team_player.current_contract.weekly_salary_cents / 100) %>)
				<%= form_for team_player, url: update_first_team_league_team_team_player_path(team_player.team.league, team_player.team, team_player)  do |f| %>
					<%= f.submit "Remove from first team." %>
				<% end %>
			</li>
		<% end %>
	</ul>

	<span class="sub_header">Squad players</span>
	<ul class="squad_players">
		<% @team.team_players.where(first_team: false).find_each do |team_player| %>
			<li id="<%= dom_id(team_player) %>">
				<%= link_to team_player.player.full_name, league_team_team_player_path(team_player.team.league, team_player.team, team_player) %> (<%= number_to_currency(team_player.current_contract.weekly_salary_cents / 100, precision: 0) %> per week until <%= team_player.current_contract.ends_at.strftime('%d-%b-%Y') %>)
				<% first_team_players = @team.team_players.where(first_team: true) %>
				<% if first_team_players.count < 11 %>
					<% if team_player.player.playing_position != 'Goalkeeper' || first_team_players.joins(:squad_position).where('squad_positions.short_name = ?', 'GK').count === 0 %>
						<%= form_for team_player, url: update_first_team_league_team_team_player_path(team_player.team.league, team_player.team, team_player)  do |f| %>
							<%= f.hidden_field :squad_position_id, value: team_player.get_squad_position_from_players_playing_position.id %>
							<%= f.submit "Add to first team" %>
						<% end %>
					<% end %>
				<% end %>
			</li>
		<% end %>
	</ul>
<div>
