<% resource = news_item.news_item_resource %>

<% if resource.instance_of? Player %>
	<!-- PLAYER news_items -->
	<!-- PLAYER news_item: Has contract -->
	<% if resource.has_current_contract_in_league?(news_item.league) %>
		<tr>
			<td class="mdl-data-table__cell--non-numeric normal-text" colspan="2" style="border-bottom:0px;">
				<%= news_item.created_at.strftime("%d %b") %> - <%= truncate(news_item.body, length: 36) %>
			</td>
			<td class="normal-text" style="border-bottom:0px;">
				Signed
			</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric normal-text" colspan="3" style="border-top:0px;">
				<%= resource.full_name_and_playing_position_and_real_team %> 
			</td>
		</tr>
	<!-- PLAYER news_item: Does not have contract -->
	<% else %>
		<tr>
			<td class="mdl-data-table__cell--non-numeric normal-text" colspan="2" style="border-bottom:0px;">
				<%= news_item.created_at.strftime("%d %b") %> - <%= truncate(news_item.body, length: 36) %>
			</td>
			<td class="normal-text" style="border-bottom:0px;">
				<%= link_to 'View', new_league_contract_path(news_item.league.id, {player_id: resource.id}), class: "mdl-button--primary" %>
			</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric normal-text" colspan="3" style="border-top:0px;">
				<%= resource.full_name_and_playing_position_and_real_team %>
			</td>
		</tr>
	<% end %>

<% elsif resource.instance_of? Game %>
	<!-- GAME news_items -->
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="2" style="border-bottom:0px;">
			<%= news_item.created_at.strftime("%d %b") %> - <%= truncate(news_item.body, length: 36) %>
		</td>
		<td class="normal-text" style="border-bottom:0px;">
			<%= link_to 'View', league_game_path(news_item.league.id, resource.id), class: "mdl-button--primary" %>
		</td>
	</tr>
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="3" style="border-top:0px;">
			<%= render partial: 'news_items/news_item_row_partials/full_game_result', locals: { game: resource } %>
		</td>
	</tr>

<% elsif news_item.news_item_resource_type === 'Transfer' %>
	<!-- TRANSFER news_items -->
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="2" style="border-bottom:0px;">
			<%= news_item.created_at.strftime("%d %b") %> - <%= truncate(news_item.body, length: 36) %>
		</td>
		<% if resource %>
			<td class="normal-text" style="border-bottom: 0px;">
				<%= link_to 'View', league_transfer_path(resource.primary_team.league.id, resource.id), class: "mdl-button--primary" %>
			</td>
		<% end %>
	</tr>
	<tr>
		<% if resource %>
			<%= render partial: 'transfers/transfer_teams_status_row', locals: {transfer: resource} %>
		<% else %>
			<td class="mdl-data-table__cell--non-numeric normal-text " colspan="3" style="border-top:0px;">
				Transfer cancelled
			</td>
		<% end %>
	</tr>
<% end %>
