<% resource = news_item.news_item_resource %>

<% if resource.instance_of? Player %>
	<!-- PLAYER news_items -->
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="2" style="border-bottom:0px;">
			<% if news_item.news_item_type %>
				<i class="material-icons large">
					<% if news_item.news_item_type == 'high_value_free_agent' %>
						star_border
					<% elsif news_item.news_item_type == 'player_released' %>
						content_cut
					<% elsif news_item.news_item_type == 'new_free_agent' %>
						person_add
					<% end %>
				</i>
			<% end %>
			<%= news_item.created_at.strftime("%d %b") %> - <%= truncate(news_item.body, length: 36) %>
		</td>
		<td class="normal-text" style="border-bottom:0px;">
			<%= link_to 'View', league_player_path(news_item.league.id, resource.id), class: "mdl-button--primary" %>
		</td>
	</tr>
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="3" style="border-top:0px;">
			<%= resource.full_name_and_playing_position_and_real_team %>
		</td>
	</tr>

<% elsif resource.instance_of? Game %>
	<!-- GAME news_items -->
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="2" style="border-bottom:0px;">
			<i class="material-icons large">hourglass_empty</i><%= news_item.created_at.strftime("%d %b") %> - <%= truncate(news_item.body, length: 36) %>
		</td>
		<td class="normal-text" style="border-bottom:0px;">
			<%= link_to 'View', league_game_path(news_item.league.id, resource.id), class: "mdl-button--primary" %>
		</td>
	</tr>
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="3" style="border-top:0px;">
			<%= render partial: 'news_items/news_item_row_partials/full_game_result', locals: { game: resource } %>
		</td>
	</tr>

<% elsif news_item.news_item_resource_type === 'Transfer' %>
	<!-- TRANSFER news_items -->
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="2" style="border-bottom:0px;">
			<i class="material-icons large">swap_horiz</i><%= news_item.created_at.strftime("%d %b") %> - <%= truncate(news_item.body, length: 36) %>
		</td>
		<% if resource %>
			<td class="normal-text" style="border-bottom: 0px;">
				<%= link_to 'View', league_transfer_path(resource.primary_team.league.id, resource.id), class: "mdl-button--primary" %>
			</td>
		<% end %>
	</tr>
	<tr>
		<% if resource %>
			<%= render partial: 'transfers/transfer_teams_status_row', locals: {transfer: resource} %>
		<% else %>
			<td class="mdl-data-table__cell--non-numeric normal-text " colspan="3" style="border-top:0px;">
				Transfer cancelled
			</td>
		<% end %>
	</tr>

<% elsif news_item.news_item_resource_type === 'Contract' %>
	<!-- CONTRACT news_items -->
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="2" style="border-bottom:0px;">
			<i class="material-icons large">content_paste</i><%= news_item.created_at.strftime("%d %b") %> - <%= truncate(news_item.body, length: 36) %>
		</td>
		<% if resource %>
			<td class="normal-text" style="border-bottom:0px;">
				<%= link_to 'View', league_player_path(news_item.league.id, resource.player.id), class: "mdl-button--primary" %>
			</td>
		<% end %>
	</tr>
	<tr>
		<% if resource %>
			<td class="mdl-data-table__cell--non-numeric normal-text " colspan="3" style="border-top:0px;">
				<%= "#{truncate(resource.team.title, length: 12)} offer contract to #{resource.player.full_name_and_playing_position_and_real_team}" %>
			</td>
		<% end %>	
	</tr>

<% elsif news_item.news_item_resource_type === 'TeamPlayer' %>
	<!-- TEAM_PLAYER news_items -->
	<tr>
		<td class="mdl-data-table__cell--non-numeric normal-text" colspan="2" style="border-bottom:0px;">
			<i class="material-icons large">playlist_add_check</i><%= news_item.created_at.strftime("%d %b") %> - <%= truncate(news_item.body, length: 36) %>
		</td>
		<% if resource %>
			<td class="normal-text" style="border-bottom:0px;">
				<%= link_to 'View', league_player_path(news_item.league.id, resource.player.id), class: "mdl-button--primary" %>
			</td>
		<% end %>
	</tr>
	<tr>
		<% if resource %>
			<td class="mdl-data-table__cell--non-numeric normal-text " colspan="3" style="border-top:0px;">
				<% if resource.transfer_listed? %>
					<%= "#{resource.team.abbreviated_title(12)} set minimum bid at #{number_to_currency(resource.transfer_minimum_bid, precision: 0)}" %>
				<% else %>
					<%= "Transfer listing cancelled" %>
				<% end %>
			</td>
		<% end %>	
	</tr>

<% elsif news_item.news_item_resource_type === 'Team' %>
	<% if news_item.news_item_type %>
		<% if news_item.news_item_type === 'auto_transfer_list_squad' %>
			<% icon_type = "money_off" %>
			<% copy = "Entire #{resource.abbreviated_title(22)} squad transfer listed." %>
		<% elsif news_item.news_item_type === 'end_of_season_reward' %>
			<% icon_type = "money_off" %>
			<% copy = "Test" %>
		<% end %>
		<%= render partial: 'news_items/news_item_row_partials/news_item_partial', locals: { news_item: news_item, resource: resource, icon_type: icon_type, link: display_league_team_path(news_item.league.id, resource.id), copy: copy } %>
	<% end %>
<% end %>
