<% team_leagues = League.joins(:teams).where('teams.user_id = ?', @current_user.id) %>
<% teams = Team.where(user: @current_user) %>
<% admin_leagues = League.where('leagues.user_id = ?', @current_user.id) %>
<% leagues = League.where(id: (team_leagues + admin_leagues.uniq)) %>
<% league_fresh_news_items = NewsItem.fresh_news_items(leagues) %>
<% your_transfers = Transfer.incomplete_transfers_with_team_involved(teams) %>

<div class="col-sm-12">
	<% if @current_user.teams.count == 0 %>
		<%= render partial: 'shared/leagues/your_leagues', locals: { leagues: leagues } %>
		<%= render partial: 'shared/league_invites/league_invites_summary' %>
	<% else %>
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
	      <h3 class="mdl-card__title-text">
	      	Upcoming game week
	      </h3>
	    </div>
			<div class="mdl-card__actions">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
					<% @current_user.teams.each do |team| %>
						<% league = team.league %>
						<tr>
							<td class="mdl-data-table__cell--non-numeric normal-text" style="border-bottom:0px;">
								<%= link_to league.name, league_path(league), class: "content-link" %>
							</td>
							<td class="mdl-data-table__cell--non-numeric normal-text" style="border-bottom:0px;">
								<% current_game = team.get_current_game %>
								<% if current_game %>
									<%= render partial: 'games/simple_matchup', locals: { game: current_game } %>
								<% else %>
									No upcoming game
								<% end %>
							</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric normal-text" style="border-top:0px;" colspan="2">
								<% if current_game %>
									<%= render partial: 'teams/earliest_deadline', locals: { team: team, display_distance: true } %>
								<% elsif league.teams.count == 1 && league.league_invites.count == 0 && league.is_owned_by_this_user?(@current_user) %>
									Your league needs other teams. Click <%= link_to 'here', new_league_league_invite_path(league), class: "mdl-button--primary" %> to send invites.
								<% else %>
									The league admin (<%= league.league_user_name(@current_user)%>) needs to start the season.
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>

		<% if user_league = @current_user.only_league %>
			<div class="demo-card-wide mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
		      <h3 class="mdl-card__title-text">
		      	Player search
		      </h3>
		    </div>
				<div class="mdl-card__actions">
					<%= form_tag(league_players_path(user_league), method: "get", id: "search-form") do %>
						<div class="form-group">
			      	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    		<%= text_field_tag :search, params[:search], class: "mdl-textfield__input" %>
				    		<%= label_tag :search, "Name, position, or team", class: "mdl-textfield__label" %>
				    	</div>
				    </div>
				    <div class="form-group">
				    	<%= submit_tag "Search", name: nil, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
				    </div>
					<% end %>
				</div>
			</div>
		<% end %>

		<%= render partial: 'transfers/your_active_transfers_component', locals: { your_transfers: your_transfers } %>

		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
	      <h3 class="mdl-card__title-text">
	      	News
	      </h3>
	    </div>
	    <div class="mdl-card__actions">
	    	<% if league_fresh_news_items.count > 0 %>
		    	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-data-table-fixed">
		    		<% league_fresh_news_items.each do |news_item| %>
		    			<%= render partial: 'news_item_row', locals: { news_item: news_item } %>
						<% end %>
					</table>
				<% else %>
					<span class="normal-text">:-/ It's a slow news day.</span>
				<% end %>
	    </div>
	  </div>
	<% end %>
</div>
