<% league = League.find(params[:league_id]) %>
<div class="row">
	<div class="col-sm-12">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
        	<%= link_to league.name, league_path(league), class: "content-link" %>
        	<span>&nbsp;games</span>
        </h2>
      </div>
      <% this_game_week_games = league.current_game_week_games %>
    	<% if this_game_week_games && this_game_week_games.count > 0 %>
    		<div class="mdl-card__title">
    			<h3 class="mdl-card__title-text">This week's games</h3>
    		</div>
    		<div class="mdl-card__actions">
    			<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    				<%= render partial: 'game_index_header_row' %>
						<% this_game_week_games.each do |game| %>
							<%= render partial: 'game_index_row', locals: { game: game } %>
						<% end %>
					</table>
    		</div>
    	<% end %>
      <div class="mdl-card__actions">
      	<% if @games.count > 0 %>
      		<div class="mdl-card__title">
    				<h3 class="mdl-card__title-text">All games</h3>
    			</div>
      		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      			<%= render partial: 'game_index_header_row' %>
            <% games_to_display = @games.joins(:game_week).order('game_weeks.game_week_number').paginate(page: params[:page], per_page: (league.teams.count * 4)) %>
						<% games_to_display.each do |game| %>
							<%= render partial: 'game_index_row', locals: { game: game } %>
						<% end %>
					</table>
      	<% else %>
      		<span class="normal-text">Games for this season are yet to be scheduled.<br/><br/>Once you start the season, the games will appear here. You can start a season from the <%= link_to 'league screen', league_path(league), class: "content-link" %> once there is an even number of teams in the league.<br/><br/>You can't add teams after a season has been started so get those invites out!</span>
          <div class="mdl-card__supporting-text">
            <ul class="horizontal-style">
              <li><%= link_to 'League', league_path(league), class: "mdl-button--primary" %></li>
              <% if league.is_owned_by_this_user?(@current_user) %>
                <li><%= link_to 'Invites', league_league_invites_path(league), class: "mdl-button--primary" %></li>
              <% end %>
            </ul>
          </div>
      	<% end %>
        <% if this_game_week_games && this_game_week_games.count > 0 %>
          <%= will_paginate games_to_display %>
        <% end %>
      </div>
    </div>
  </div>
</div>
