<% league = League.find(params[:league_id]) %>
<div class="row">
	<div class="col-sm-12">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
        	<%= link_to league.name, league_path(league), class: "content-link" %>
        	<span>&nbsp;games</span>
        </h2>
      </div>
      <div class="mdl-card__actions">
      	<% if @games.count > 0 %>
      		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
						<tr>
							<th class="mdl-data-table__cell--non-numeric">
								<span>Date</span>
							</th>
							<th>
								<span>GW</span>
							</th>
							<th class="mdl-data-table__cell--non-numeric">
								<span>Home v Away</span>
							</th>
							<th class="mdl-data-table__cell--non-numeric">
								<span>Score</span>
							</th>
						</tr>
						<% @games.joins(:game_week).order('game_weeks.game_week_number').each do |game| %>
							<tr>
								<td class="mdl-data-table__cell--non-numeric normal-text">
									<%= game.game_week.starts_at.strftime("%d %b") %>
								</td>
								<td class="normal-text">
									<%= game.game_week.game_week_number %>
								</td>
								<td class="mdl-data-table__cell--non-numeric normal-text">
									<%= link_to league_game_path(game.get_league, game), class: "content-link" do %>
										<span><%= truncate(game.home_team.title, length: 20) %></span>
										<br/>
										<span><%= truncate(game.away_team.title, length: 20) %></span>
									<% end %>
								</td>
								<td class="mdl-data-table__cell--non-numeric normal-text">
									<% if game.game_week.in_play? %> (<%= game.get_live_score %>)<% else %><%= game.get_score %><% end %>
								</td>
							</tr>
						<% end %>
					</table>
      	<% else %>
      		<span class="normal-text">Games for this season are yet to be scheduled.</span>
      	<% end %>
      </div>
    </div>
  </div>
</div>
