<% @game_week = @game.game_week %>
<% @home_team = @game.home_team %>
<% @away_team = @game.away_team %>
<div class="row">
  <div class="col-sm-12">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          Game details
        </h2>
      </div>
      <div class="mdl-card__actions">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <tr>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              League
            </td>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              <%= link_to @home_team.league.name, league_path(@home_team.league), class: "content-link" %>
            </td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              Teams
            </td>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              <%= truncate(@home_team.title, length: 13) %>
              v
              <%= truncate(@away_team.title, length: 13) %>
            </td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              Game week
            </td>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              <span class="normal-text"><%= @game_week.game_week_number %></span>
            </td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              Earliest deadline
            </td>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              <%= render partial: 'teams/earliest_deadline', locals: { team: nil, display_distance: false } %>
            </td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              Score
            </td>
            <td class="mdl-data-table__cell--non-numeric normal-text">
              <span class="normal-text"><%= @game.get_score %></span>
            </td>
          </tr>
        </table>
      </div>
      <ul class="horizontal-style-tabs">
        <li><a id="detailed_stats_link" class="normal-text selected-tab">View details</a></li>
        <li><a id="summary_stats_link" class="normal-text">View summary</a></li>
      </ul>
      <div class="mdl-card__actions">
        <div class="mdl-card__supporting-text">
          <div class="mdl-card__title">
            <h3 class="mdl-card__title-text"><%= truncate(@home_team.title, length: 13) %> (<%= truncate(@home_team.user.full_name, length: 14) %>)</h3>
          </div>
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <%= render partial: "shared/games/table_header" %>
          <% home_team_lineups = @home_team.player_lineups.joins(:player_game_week, :squad_position).where('game_week_id = ? AND squad_positions.short_name != ?', @game_week.id, 'SUB').order("squad_positions.sort_order") %>
          <% home_team_lineups.each do |player_lineup| %>
            <%= render partial: "shared/games/player_lineup_table_row", locals: {player_lineup: player_lineup} %>
          <% end %>
          <%= render partial: "shared/games/summary_row", locals: {player_lineups: home_team_lineups} %>
        </table>
      </div>

      <div class="mdl-card__actions">
        <div class="mdl-card__supporting-text">
          <div class="mdl-card__title">
            <h3 class="mdl-card__title-text"><%= truncate(@away_team.title, length: 13) %> (<%= truncate(@away_team.user.full_name, length: 14) %>)</h3>
          </div>
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <%= render partial: "shared/games/table_header" %>
          <% away_team_lineups = @away_team.player_lineups.joins(:player_game_week, :squad_position).where('game_week_id = ? AND squad_positions.short_name != ?', @game_week.id, 'SUB').order("squad_positions.sort_order") %>
          <% away_team_lineups.each do |player_lineup| %>
            <%= render partial: "shared/games/player_lineup_table_row", locals: {player_lineup: player_lineup} %>
          <% end %>
          <%= render partial: "shared/games/summary_row", locals: {player_lineups: away_team_lineups} %>
        </table>
      </div>
    </div>
  </div>
</div>
