<div class="row">
	<div class="col-sm-12">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= @team_player.player.full_name %></h2>
      </div>
			<div class="mdl-card__actions">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
					<tr>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							Position
						</td>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							<%= @team_player.player.playing_position %>
						</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							First team
						</td>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							<%= @team_player.first_team ? 'Yes' : 'No' %>
						</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							Team
						</td>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							<%= link_to @team_player.team.title, league_team_path(@team.league, @team), class: "content-link" %>
						</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							Value
						</td>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							<%= @team_player.player.player_value(Season.current.first) %>
						</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							Salary
						</td>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							<%= number_to_currency(@team_player.current_contract.weekly_salary_cents, precision: 0) %> 
							(Release cost: <%= number_to_currency(@team_player.current_contract.release_value, precision: 0) %>)
						</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							Contract term
						</td>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							<%= @team_player.current_contract.starts_at.strftime("%d %b %y") %> - <%= @team_player.current_contract.ends_at.strftime("%d %b %y") %>
						</td>
					</tr>
					<% if team_player_deadline = @team_player.player.game_week_deadline_at %>
						<tr>
							<td class="mdl-data-table__cell--non-numeric normal-text">
								Deadline
							</td>
							<td class="mdl-data-table__cell--non-numeric normal-text">
								<%= team_player_deadline.strftime("%a %d %b, %l:%M%P %Z") %>
								<% if Time.now <= team_player_deadline %>
									&nbsp;(in <%= time_ago_in_words(team_player_deadline, include_seconds: true) %>)
								<% else %>
									&nbsp;(<%= time_ago_in_words(team_player_deadline, include_seconds: true) %> ago)
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
			<div class="mdl-card__supporting-text">
				<ul class="horizontal-style">
					<li>
						<%= link_to "Transfer list player", new_league_auction_path(league: @team.league, team_player: @team_player), class: "mdl-button--secondary" %>
					</li>
					<li>
						<%= link_to "Pay #{number_to_currency(@team_player.current_contract.release_value, precision: 0)} to release player", release_league_team_team_player_path(@team.league, @team, @team_player), method: :patch, class: "mdl-button--secondary" %>
					</li>
				</ul>
			</div>
		</div>
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<%= render partial: 'shared/player_game_week_table', locals: {player: @team_player.player} %>
		</div>		
	</div>
</div>
