<p id="notice"><%= notice %></p>

<span class="main_header">
	<%= link_to @team.league.name, league_path(@team.league) %> >> 
	<%= link_to @team.title, league_team_path(@team.league, @team) %> >>
	<%= @team_player.player.full_name %>
</span>
<table>
	<thead>
		<tr>
			<td>Season</td>
			<td>Game week start</td>
			<td>Game week end</td>
			<td>Minutes played</td>
		</tr>
	</thead>
	<tbody>
		<% @team_player.player.player_game_weeks.joins(game_week: :league_season).where("league_seasons.season_id = ?", Season.current.first.id).order("game_weeks.starts_at DESC").each do |pgw| %>
		<tr>
			<td><%= pgw.game_week.league_season.season.description %></td>
			<td><%= pgw.game_week.starts_at.strftime("%a %d-%b-%Y") %></td>
			<td><%= pgw.game_week.ends_at.strftime("%a %d-%b-%Y") %></td>
			<td><%= pgw.minutes_played %></td>
		</tr>
		<% end %>
	</tbody>
</table>
