<% if transfer_item.receiving_team == transfer.primary_team %>
	<% lefty = true %>
<% else %>
	<% lefty = false %>
<% end %>
<span class="<%= lefty ? 'skooch-left' : 'skooch-right' %>">
	<i class="material-icons small <%= 'ghost' if !lefty %>">arrow_back</i>
	<% if transfer_item.transfer_item_type === "Player" %>
		<%= transfer_item.team_player.full_name(true) %>
	<% elsif transfer_item.transfer_item_type === "Cash" %>
		<%= number_to_currency(transfer_item.cash_cents, precision: 0) %> 
	<% end %>
	<i class="material-icons small <%= 'ghost' if lefty %>">arrow_forward</i>
</span>
