<div class="mdl-card__actions">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
      <td class="mdl-data-table__cell--non-numeric normal-text">
        Player
      </td>
      <td class="mdl-data-table__cell--non-numeric normal-text">
        <%= team_player.full_name(true, 20) %>
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric normal-text">
        Contract
      </td>
      <td class="mdl-data-table__cell--non-numeric normal-text">
        <%= number_to_currency(team_player.current_contract.weekly_salary_cents, precision: 0) %> until <%= team_player.current_contract.ends_at.strftime("%d-%b-%y") %>
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric normal-text">
        Player value
      </td>
      <td class="mdl-data-table__cell--non-numeric normal-text">
        <%= number_to_currency(team_player.player.player_value(Season.current.first), precision:0) %>
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric normal-text">
        Your team budget
      </td>
      <td class="mdl-data-table__cell--non-numeric normal-text">
        <%= number_to_currency(@current_user.get_team(league).cash_balance_cents, precision: 0) %>
      </td>
    </tr>
  </table>
</div>
