<div class="centered">
	<% @league = League.find_by(id: params[:league_id]) %>
	<% @league_invites = LeagueInvite.where(league: @league).all %>
  <span class="main_header">Pending invites to <%= link_to @league.name, league_path(@league) %></span>
  <div>
  	<% if @league_invites.length > 0 %>
	  	<% @league_invites.each do |league_invite| %>
	    	<div>
	    		<%= league_invite.email %> (Sent <%= time_ago_in_words(league_invite.created_at) %> ago) <%= link_to "delete", league_league_invite_path(@league, league_invite), method: :delete, data: { confirm: "You sure?" } %>
	    	</div>
	  	<% end %>
	  	<div>
    		<%= link_to 'Send an invite.', new_league_league_invite_path(@league) %>
    	</div>
	 	<% else %>
	 		<div>
    		No pending invites. <%= link_to 'Send an invite.', new_league_league_invite_path(@league) %>
    	</div>
		<% end %>
	</div>
</div>
