<% league = League.find_by(id: params[:league_id]) %>
<% team_players = TeamPlayer.joins(:team).where('teams.league_id = ?', league.id) %>
<% if team_player = team_players.find_by(player_id: @player.id) %>
	<% owned = true %>
	<% current_user_team_in_this_league = Team.where('league_id = ? AND user_id = ?', league.id, @current_user.id).first %>
	<% team_owned_by = team_player.team %>
	<% owned_by_current_user = current_user_team_in_this_league === team_owned_by ? true : false %>
	<% player_object = team_player.player %>
<% else %>
	<% player_object = @player %>
<% end %>

<div class="col-sm-12">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">
				<%= @player.full_name %>
			</h2>
		</div>
		<div class="mdl-card__supporting-text">
			<div class="mdl-card__actions">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
					<tr>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							Position
						</td>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							<%= @player.playing_position %>
						</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							Team
						</td>
						<td class="mdl-data-table__cell--non-numeric normal-text">
							<% if owned && owned_by_current_user %>
								<%= link_to truncate(team_player.team.title, length: 30), league_team_path(team_player.team.league, team_player.team), class: "content-link" %>
							<% elsif owned && !owned_by_current_user %>
								<%= link_to truncate(team_player.team.title, length: 30), display_league_team_path(team_player.team.league, team_player.team), class: "content-link" %>
							<% else %>
								-
							<% end %>
						</td>
					</tr>
					<% if owned %>
						<tr>
							<td class="mdl-data-table__cell--non-numeric normal-text">
								Contract
							</td>
							<td class="mdl-data-table__cell--non-numeric normal-text">
								<%= number_to_currency(team_player.current_contract.weekly_salary_cents, precision: 0) %> p/w until <%= team_player.current_contract.ends_at.strftime("%d %b %y") %>
							</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric normal-text">
								Value
							</td>
							<td class="mdl-data-table__cell--non-numeric normal-text">
								<%= number_to_currency(team_player.player.player_value(Season.current.first), precision:0) %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
			<ul class="horizontal-style-centre-form">
				<% if owned && !owned_by_current_user %>
					<li><%= render partial: 'shared/form_direct_transfer_bid', locals: {
						league: league,
						player: player_object,
						primary_team: current_user_team_in_this_league,
						secondary_team: team_player.team,
						team_player: team_player,
						truncate_to: 14 } %></li>
				<% elsif !owned %>
					<li><%= link_to 'Offer contract', new_league_contract_path(league.id, {player_id: player_object.id}), class: "mdl-button--primary" %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="demo-card-wide mdl-card mdl-shadow--2dp">
		<%= render partial: 'shared/player_game_week_table', locals: {player: @player} %>
	</div>
</div>
