<%= form_for([@league, @transfer]) do |f| %>
  <% if @transfer.errors.any? %>
    <div class="mdl-card__supporting-text">
      Please address the <%= "error".pluralize(@transfer.errors.count) %> and try again:
    </div>
    <div>
      <ul>
        <% @transfer.errors.full_messages.each do |message| %>
          <li>
            <i class="material-icons large error">face</i>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mdl-card__actions">
    <% if @transfer.id %>
      <% team_player_value = @cash_offer %>
    <% else %>
      <% team_player_value = @team_player.get_transfer_listed_player_initial_bid %>
    <% end %>
    <% primary_team = @current_user.get_team(@league) %>
    <% secondary_team = @team_player.team %>
    <%= f.hidden_field :primary_team_id, value: primary_team.id %>
    <%= f.hidden_field :secondary_team_id, value: secondary_team.id %>
    <%= f.hidden_field :primary_team_accepted, value: true %>
    <%= f.hidden_field :secondary_team_accepted, value: false %>
    <%= f.fields_for :transfer_item do |f_ti_1| %>
      <%= f_ti_1.hidden_field :sending_team_id, value: primary_team.id %>
      <%= f_ti_1.hidden_field :receiving_team_id, value: secondary_team.id %>
      <%= f_ti_1.hidden_field :transfer_item_type, value: "Cash" %>
      <div class="form-group">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f_ti_1.text_field :cash_cents, pattern: "^[1-9]{1}[0-9]*$", value: team_player_value, class: "mdl-textfield__input" %>
          <%= f_ti_1.label "Tranfer bid", class: "mdl-textfield__label" %>
          <span class="mdl-textfield__error">Invalid amount.</span>
        </div>
      </div>
    <% end %>

    <%= f.fields_for :transfer_item do |f_ti_2| %>
      <%= f_ti_2.hidden_field :sending_team_id, value: secondary_team.id %>
      <%= f_ti_2.hidden_field :receiving_team_id, value: primary_team.id %>
      <%= f_ti_2.hidden_field :transfer_item_type, value: "Player" %>
      <%= f_ti_2.hidden_field :team_player_id, value: @team_player.id %>
    <% end %>

    <div class="form-group">
      <%= f.submit "Place offer", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
      <%= link_to "Cancel", @back_url, class: "cancel_link_anchor" %>
    </div>
  </div>
<% end %>
