<% league = League.find(params[:league_id]) %>

<p id="notice"><%= notice %></p>

<span class="main_header">
	<%= link_to "Transfers", league_transfers_path(league) %> >> #<%= @transfer.id %>: <%= @transfer.primary_team.title %> trading with <%= @transfer.secondary_team.title %>
</span>
<br/>
<span>
	<% if @transfer.current_user_involved?(@current_user) && !@transfer.transfer_completed? %>
		<%= link_to "Add transfer item", new_league_transfer_transfer_item_path(league, @transfer) %>
	<% end %>
</span>
<table>
	<tr>
		<th><%= @transfer.primary_team.title %> receives</th>
		<th><%= @transfer.secondary_team.title %> receives</th>
		<th>Options</th>
	</tr>
	<% @transfer.transfer_items.each do |transfer_item| %>
	  <tr>
	  	<td>
	  		<% if transfer_item.receiving_team === @transfer.primary_team %>
		  		<% if transfer_item.transfer_item_type === "player" %>
		  			<%= transfer_item.team_player.full_name %>
		  		<% elsif transfer_item.transfer_item_type === "cash" %>
		  			<%= number_to_currency(transfer_item.cash_cents) %>
		  		<% end %>
	  		<%end%>
	  	</td>
	  	<td>
		  	<% if transfer_item.receiving_team === @transfer.secondary_team %>
		  		<% if transfer_item.transfer_item_type === "player" %>
		  			<%= transfer_item.team_player.full_name %>
		  		<% elsif transfer_item.transfer_item_type === "cash" %>
		  			<%= number_to_currency(transfer_item.cash_cents) %>
		  		<% end %>
		  	<% end %>
	  	</td>
	  	<td>
	  		<% if @transfer.transfer_completed? %>
	  			Transfer complete
	  		<% elsif !@transfer.current_user_involved?(@current_user) %>
	  			Nacho transfer
	  		<% else %>
		  		<%= link_to "Remove", league_transfer_transfer_item_path(league, @transfer, transfer_item), method: :delete %>
		  		or
		  		<%= link_to "Edit", edit_league_transfer_transfer_item_path(league, @transfer, transfer_item) %>
	  		<% end %>
	  	</td>
	  </tr>
	<% end %>
</table>
