<% league = League.find(params[:league_id]) %>
<div class="row">
	<div class="col-sm-12">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Transfer details</h2>
      </div>
      <div class="mdl-card__supporting-text">
      	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-data-table-fixed">
      		<tr>
						<%= render partial: 'transfer_teams_status_row', locals: {transfer: @transfer, league: league} %>
					</tr>
					<% if @transfer.current_user_involved?(@current_user) && !@transfer.transfer_completed? %>
						<tr>
							<td colspan="3" style="border-top:0px;">
								<ul class="horizontal-style">
									<% if @transfer.get_cash_transfer_item %>
										<li>
											<%= render partial: 'change_transfer_status', locals: {transfer: @transfer, team: @current_user.get_team(league), league: league} %>
										</li>
										<li>
					          	<%= link_to "Negotiate", edit_league_transfer_transfer_item_path(league, @transfer, @transfer.get_cash_transfer_item), class: "mdl-button--primary" %>
					          </li>
				          <% end %>
			          	<% if @transfer.primary_team.user == @current_user%>
				          	<li>
				          		<%= link_to "Cancel", league_transfer_path(league, @transfer), method: :delete, class: "mdl-button--secondary" %>
				          	</li>
			          	<% end %>
								</ul>
							</td>
						</tr>
					<% end %>
				</table>
      </div>
      <div class="mdl-card__supporting-text">
	    	<ul class="horizontal-style">
	      	<li>
	      		<%= link_to "View all transfers", league_transfers_path(league), class: "mdl-button--primary" %>
	      	</li>
	      </ul>
	     </div>
    </div>
	</div>
</div>
