<div id="home-hero-row" class="logged-out-row row">
  <div class="home-page-align-columns row">
    <div class="col-sm-8">
      <%= render partial: 'layouts/logged_out_row', locals: {
              header: "Beyond the match day",
              main_content: "There is more to managing a club than picking the team so why should fantasy football stop there?"} %>
    </div>
    <div class="col-sm-4 home-page-cta">
      <!-- EMPTY -->
    </div>
  </div>
</div>
<div class="row">
  <div class="home-page-align-columns row">
    <div class="col-sm-4 home-page-cta">
      <%= image_tag("money.jpg") %>
    </div>
    <div class="col-sm-8">
      <%= render partial: 'layouts/logged_out_row', locals: {
              header: "Manage club finances",
              main_content: "Offer the best salaries. Get the best players. Earn money with gate receipts. Invest in your stadium to increase capacity. Cash-based player transfers."} %>
    </div>
  </div>
</div>
<div class="logged-out-row row">
  <div class="home-page-align-columns row">
    <div class="col-sm-8">
      <%= render partial: 'layouts/logged_out_row', locals: {
              header: "Multi-season",
              main_content: "If you spot young talent, sign them up to a multi-season contract and keep them in your squad for multiple seasons."} %>
    </div>
    <div class="col-sm-4 home-page-cta">
      <%= image_tag("multi-season.png") %>
    </div>
  </div>
</div>
<div class="logged-out-row row">
  <div class="home-page-align-columns row">
    <div class="col-sm-4 home-page-cta">
      <%= image_tag("score.png") %>
    </div>
    <div class="col-sm-8">
      <%= render partial: 'layouts/logged_out_row', locals: {
              header: "Realistic scorelines",
              main_content: "Play against one opponent per week & come out with realistic scorelines. Three points for a win. One point for a draw."} %>
    </div>
  </div>
</div>
<div class="logged-out-row row">
  <div class="home-page-align-columns row">
    <div class="col-sm-8">
      <%= render partial: 'layouts/logged_out_row', locals: {
              header: "Defenders defend",
              main_content: "Sign defenders who can defend not just the lads who take the penalties or get the odd assist. Your defenders in Gaffer influence the opponent's ability to score."} %>
    </div>
    <div class="col-sm-4 home-page-cta">
      <%= image_tag("defenders-tactics.jpg") %>
    </div>
  </div>
</div>
<div class="logged-out-row row">
  <div class="home-page-align-columns row">
    <div class="col-sm-4 home-page-cta">
      <%= image_tag("play-solo.jpg") %>
    </div>
    <div class="col-sm-8">
      <%= render partial: 'layouts/logged_out_row', locals: {
              header: "Play solo or not",
              main_content: "Play against AI teams or invite your friends to a league. If your mates lose interest, the AI will take over their teams."} %>
    </div>
  </div>
</div>
