<div class="col-sm-12">
  <%= render partial: 'layouts/logged_out_row', locals: {
          header: "Gaffer expands fantasy football",
          main_content: "There is more to managing a club than picking the team so why should fantasy football stop there?",
          closing_remark: "Build a team. Create a legacy." } %>
  <%= render partial: 'layouts/logged_out_row', locals: {
          header: "Wheel and deal",
          main_content: "Offer the best salaries. Get the best players. Earn money with gate receipts. Invest in your stadium to increase capacity. Cash-based player transfers.",
          closing_remark: "Build a team. Create a legacy." } %>
  <%= render partial: 'layouts/logged_out_row', locals: {
          header: "Talent spotting",
          main_content: "If you spot young talent, sign them up to a multi-season contract and keep them in your squad for multiple seasons.",
          closing_remark: "Build a team. Create a legacy." } %>
  <%= render partial: 'layouts/logged_out_row', locals: {
          header: "Realistic fixtures",
          main_content: "Play against one opponent per week & come out with realistic scorelines. No more earning 134.7 points in a week. Three points for a win. One point for a draw. Inno-bloody-vation.",
          closing_remark: "Build a team. Create a legacy." } %>
  <%= render partial: 'layouts/logged_out_row', locals: {
          header: "Defenders are people too",
          main_content: "Sign defenders who can defend not just the lads who take the penalties or get the odd assist. Your defenders in Gaffer influence the opponent's ability to score.",
          closing_remark: "Build a team. Create a legacy." } %>
</div>

