<!DOCTYPE html>
<html>
	<head>
	  <title>Gaffer</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.light_green-deep_orange.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"> 
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	  <link rel="manifest" href="/manifest.json">
	  <meta name="msapplication-TileColor" content="#da532c">
	  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
	  <meta name="theme-color" content="#ffffff">
		<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	  <%= csrf_meta_tags %>
	</head>
	<body id="body_id">
		<div class="container" id="wide-container">
			<div id="header-row" class="row">
				<div class="col-sm-3">
					<%= link_to image_tag("gaffer_logo_263_x_328.png", class: "logo-icon"), root_path %>
				</div>
				<% if logged_in? %>
					<% current_user_leagues = League.includes(:teams).where('teams.user_id = :current_user OR leagues.user_id = :current_user', {current_user: @current_user}).references(:teams).distinct %>
					<div id="main-nav" class="col-sm-9">
						<div class="row">
							<% if current_user_leagues.count == 1 %>
								<% current_user_team = Team.where(user: @current_user, league: current_user_leagues.first).first %>
								<div class="col-sm-2 main-nav-item">
									<%= link_to "League", league_path(current_user_leagues.first) %>
								</div>
								<div class="col-sm-2 main-nav-item">
									<%= link_to "Team", league_team_path(current_user_leagues.first, current_user_team) %>
								</div>
								<div class="col-sm-2 main-nav-item">
									<%= link_to "Players", league_players_path(current_user_leagues.first) %>
								</div>
								<div class="col-sm-2 main-nav-item">
									<%= link_to "Games", league_games_path(current_user_leagues.first) %>
								</div>
								<div class="col-sm-3 main-nav-item">
					    		<%= link_to "Log out", logout_path, method: :delete %>
					    	</div>
							<% else %>
								<div class="col-sm-6 main-nav-item">
									<%= link_to "Leagues", leagues_path %>
								</div>
								<div class="col-sm-6 main-nav-item">
					    		<%= link_to "Log out", logout_path, method: :delete %>
					    	</div>
							<% end %>
				  	</div>
			  	</div>
		    <% else %>
	        <div class="col-lg-8 col-sm-8 pull-right">
	        	<%= render 'user_sessions/form' %>
	        </div>
		    <% end %>
			</div>
			<div class="row">
				<% if flash.count > 0 %>
				<div class="col-sm-12 text-center alert flash">
					<% flash.each do |type, message| %>
						<div class="alert_sub_div">
							<i class="material-icons large <%= type %>">face</i><%= message %>
						</div>
					<% end %>
				</div>
				<% end %>
			</div>
			<% if logged_in? %>
				<div class="row">
					<%= yield %>
				</div>
			<% else %>
				<%= render partial: 'layouts/logged_out_display' %>
			<% end %>
		</div>
	</body>
</html>
